html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #595959;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 1rem;
    width: 100%;
}

table {
    border-radius: 5px;
    outline: 3px solid #f0f0f0;
    border-collapse: collapse;
    overflow: hidden;
}

caption {
    background-color: #f0f0f0;
    color: #595959;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

thead {
    border-top: 3px solid #f0f0f0;
    border-bottom: 3px solid #f0f0f0;
    color: #595959;
    overflow: hidden;
}

thead th,
tbody td {
    padding: 1rem;
}

tbody tr {
    text-align: center;
}

tbody tr {
    border-bottom: 3px solid #f0f0f0;
}

thead th:first-child,
tbody td:first-child {
    text-align: left;
}

tfoot td {
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

@media (max-width: 550px) {
    table {
        display: block;
        width: 100%;
    }

    caption, thead, tbody, tfoot, th, td, tr {
        display: block;
        width: 100%;
        text-align: left;
    }

    thead th,
    tbody td {
        padding: 1rem 1rem 0;
    }

    thead th:last-child,
    tbody td:last-child {
        padding-bottom: 1rem;
    }
}







